<nav class="font-nav">
    <h1>The Fonts</h1>
    <ul>
        {{#each families}}
        <li>
            <h2><a href="#{{normalize name}}">{{name}}</a></h2>
            <ol>
                {{#each fonts}}
                <li>
                    <a href="#{{normalize name}}" style="font-family: '{{name}}'">{{name}}</a>
                </li>
                {{/each}}
            </ol>
        </li>
        {{/each}}
    </ul>
</nav>

{{#each families}}
<section id="{{normalize name}}" class="classification">
    <header>
        <h1>{{name}}</h1>
    </header>
    {{#each fonts}}
    <article id="{{normalize name}}" class="font">
        <header>
            <h1>{{name}}</h1>
            <dl>
                {{#if designer}}
                <dt>Designer</dt>
                <dd>{{#if designer.url}}<a href="{{designer.url}}" rel="external">{{designer.name}}</a>{{else}}{{designer.name}}{{/if}}</dd>
                {{/if}}
                {{#if foundry}}
                <dt>Foundry</dt>
                <dd>{{#if foundry.url}}<a href="{{foundry.url}}" rel="external">{{foundry.name}}</a>{{else}}{{foundry.name}}{{/if}}</dd>
                {{/if}}
                <dt>License</dt>
                <dd>{{#if license.url}}<a href="{{license.url}}" rel="external">{{license.name}}</a>{{else}}{{license.name}}{{/if}}</dd>
                <dt>Country of origin</dt>
                <dd>{{country}}</dd>
                <dt>Release years</dt>
                <dd>{{year}}</dd>
                <dt>Classification</dt>
                <dd>{{classification}}</dd>
                <dt>Styles</dt>
                <dd>{{styles}}</dd>
            </dl>
        </header>
        <figure class="character-set" style="font-family: '{{name}}'; font-weight: {{webfont.weight}}">
            <p class="uppercase">ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
            <p class="lowercase">abcdefghijklmnopqrstuvwxyz</p>
            <p class="numerals">0123456789</p>
            <p class="symbols">&frac14; &frac12; &frac34; [&agrave;&oacute;&uuml;&szlig;&ccedil;](.,:;?!$£&amp;-*){&Agrave;&Oacute;&Uuml;&Ccedil;}</p>
            <figcaption>{{name}} {{webfont.weight}}</figcaption>
        </figure>
        <figure class="anatomy" style="font-family: '{{name}}'; font-weight: {{webfont.weight}}; color: {{example.color}}">
            <p>{{example.text}}</p>
            <figcaption>
                <p class="links">
                    {{#each urls}}
                    <a href="{{this}}" title="view at {{this}}">view at {{this}}</a>
                    {{/each}}
                </p>
            </figcaption>
        </figure>
    </article>
    {{/each}}
</section>
{{/each}}
