<article id="{{normalize name}}" class="font">
    <header>
        <h1>{{name}}</h1>
        <dl>
            <dt>Designer</dt>
            <dd>{{#if designer.url}}<a href="{{designer.url}}" rel="external">{{designer.name}}</a>{{else}}{{designer.name}}{{/if}}</dd>
            {{#if foundry}}
            <dt>Foundry</dt>
            <dd>{{#if foundry.url}}<a href="{{foundry.url}}" rel="external">{{foundry.name}}</a>{{else}}{{foundry.name}}{{/if}}</dd>
            {{/if}}
            <dt>License</dt>
            <dd>{{#if license.url}}<a href="{{license.url}}" rel="external">{{license.name}}</a>{{else}}{{license.name}}{{/if}}</dd>
            <dt>Country of origin</dt>
            <dd>{{country}}</dd>
            <dt>Release years</dt>
            <dd>{{year}}</dd>
            <dt>Classification</dt>
            <dd>{{classification}}</dd>
            <dt>Styles</dt>
            <dd>{{styles}}</dd>
        </dl>
    </header>
    <figure class="character-set">
        <p class="uppercase">ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
        <p class="lowercase">abcdefghijklmnopqrstuvwxyz</p>
        <p class="numerals">0123456789</p>
        <p class="symbols">&frac14; &frac12; &frac34; [&agrave;&oacute;&uuml;&szlig;&ccedil;](.,:;?!$£&amp;-*){&Agrave;&Oacute;&Uuml;&Ccedil;}</p>
        <figcaption>{{name}} {{example.weight}}</figcaption>
    </figure>
    <figure class="anatomy">
        <p>{{example.text}}</p>
    </figure>
</article>
